name: Code Review
on:
  pull_request:
    paths-ignore:
      - 'lang/**'
      - '**.txt'
      - '**.md'
      - '.editorconfig'
      - 'CODEOWNERS'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    # https://github.com/marketplace/actions/setup-php-action
    - name: Installing PHP
      uses: shivammathur/setup-php@master
      with:
        php-version: 7.2
        extension-csv: php72-cli, php72-curl, php-gd

    # https://github.com/marketplace/actions/composer-php
    - name: Composer install
      uses: nick-zh/composer-php@master
      with:
        action: 'update'
        options: '-o'
