name: Code Review
on:
  pull_request:
    paths-ignore:
      - 'lang/**'
      - '**.txt'
      - '**.md'
      - '.editorconfig'
      - 'CODEOWNERS'
jobs:
  phpcs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: borkweb/action-tribe-phpcs@master
      env:
        GH_BOT_TOKEN: ${{ secrets.GH_BOT_TOKEN }}

    # https://github.com/marketplace/actions/setup-php-action
    #- name: Installing PHP
    #  uses: shivammathur/setup-php@master
    #  with:
    #    php-version: 7.2
    #    extension-csv: cli, curl, gd
    #
    #- name: Composer Install
    #  run: composer install -o
